<div class="container">
    <div class="card">
        <div class="card-header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-light">
                <div class="container-fluid">
                    
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            
                            <li class="nav-item">
                                <a class="nav-link active" style="margin-left: 0px;" aria-current="page">
                                    <h5 style="color: black; font-size: 20px;">
                                        Gestión del padrón general de padres(apoderados)
                                    </h5>
                                </a>

                            </li>

                        </ul>
                        <ul class="navbar-nav navbar-rigth">
                            <li>
                                <svg class="bi me-2" width="30" height="30">
                                    <use xlink:href="#people-circle" />
                                  </svg>
                            </li>
                            <li class="mt-2" *ngIf="ususervicio.isAuthenticated()">
                                <h3 style="color: black;">
                                    {{ususervicio.usuario.empleado.nombre}}, {{ususervicio.usuario.empleado.apellidos}}
                                </h3>
                            </li>
                            <li class="nav-item" style="text-align: right;">
                                <a (click)="irAperfil()" class="btn btn-outline-success"
                                    style="margin-left: 5px; cursor:pointer;" aria-current="page">
                                    <h5 style="color: black; font-size: 15px;">
                                        Ir a Perfil
                                    </h5>
                                </a>
                            </li>
                        </ul>

                 
                </div>
            </nav>
        </div>
        <div class="card-body">
            <div class="row">
                <form [formGroup]="formApoderadoCrear" (ngSubmit)="save($event)">
                    <input type="hidden" formControlName="idapoderado">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dni">DNI:</label>
                                <input type="text" formControlName="dni" class="form-control">
                                <p *ngIf="formApoderadoCrear.get('dni').hasError('required') && 
                                    (formApoderadoCrear.get('dni').touched)">
                                    Campo obligatorio
                                </p>
                                <p *ngIf="formApoderadoCrear.get('dni').hasError('pattern') &&
                                    (formApoderadoCrear.get('dni').touched || formApoderadoCrear.get('dni').dirty)">
                                    Campo no válido
                                </p>

                            </div>
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" formControlName="nombre" class="form-control">
                                <p
                                    *ngIf="formApoderadoCrear.get('nombre').hasError('required') && formApoderadoCrear.get('nombre').touched">
                                    Campo obligatorio</p>
                            </div>

                            <div class="form-group">
                                <label for="password">Contraseña:</label>
                                <input type="text" formControlName="password" class="form-control">

                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="apellidos">Apellidos:</label>
                                <input type="text" formControlName="apellidos" class="form-control">
                                <p
                                    *ngIf="formApoderadoCrear.get('apellidos').hasError('required') && formApoderadoCrear.get('apellidos').touched">
                                    Campo obligatorio</p>
                            </div>
                            <div class="form-group">
                                <label for="direccion">Dirección:</label>
                                <input type="text" formControlName="direccion" class="form-control">
                                <p
                                    *ngIf="formApoderadoCrear.get('direccion').hasError('required') && formApoderadoCrear.get('direccion').touched">
                                    Campo obligatorio</p>
                            </div>
                            <div class="form-group">
                                <label for="estado">Estado:</label>
                                <select formControlName="estado" class="form-control">
                                    <option value="Activo">Activo</option>
                                    <option value="Suspendido">Suspendido</option>
                                </select>
                                <p
                                    *ngIf="formApoderadoCrear.get('estado').hasError('required') && formApoderadoCrear.get('estado').touched">
                                    Campo obligatorio
                                </p>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="telefono">Teléfono:</label>
                                <input type="text" formControlName="telefono" class="form-control">
                                <p
                                    *ngIf="formApoderadoCrear.get('telefono').hasError('required') && (formApoderadoCrear.get('telefono').touched)">
                                    Campo obligatorio
                                </p>
                                <p
                                    *ngIf="formApoderadoCrear.get('telefono').hasError('pattern') && (formApoderadoCrear.get('telefono').touched || formApoderadoCrear.get('telefono').dirty)">
                                    Campo no válido
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="sexo">Genero:</label>
                                <select formControlName="sexo" class="form-control">
                                    <option value="M" selected>M</option>
                                    <option value="F">F</option>
                                </select>
                                <div
                                    *ngIf="formApoderadoCrear.get('sexo').errors && formApoderadoCrear.get('sexo').touched">
                                    <p *ngIf="formApoderadoCrear.get('sexo').hasError('required')">Campo obligatorio</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="acceso">Acceso:</label>
                                <input type="text" formControlName="acceso" class="form-control" readonly>
                            </div>

                        </div>
                        <div class="fom-group mt-4">
                            <button *ngIf="estadoGuardar" type="submit" class="btn btn-primary">Guardar</button>
                            <button *ngIf="estadoEditar" type="submit" class="btn btn-primary">Editar</button>
                            <button style="margin-left: 10px;" (click)="limpiar()" type="button"
                                class="btn btn-info">Limpiar</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row mt-3" style="overflow: scroll;">
                <div class="col-ms">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" colspan="4">
                                    <h4>Lista de apoderados</h4>
                                </th>
                                <th scope="col" colspan="4">
                                    <input [formControl]="formBuscar" type="search" class="form-control"
                                        placeholder="Ingrese nombre o dni">

                                </th>
                                <th scope="col">
                                    <button (click)="Buscar()" class="btn btn-success form-control">Buscar</button>
                                </th>

                            </tr>
                            <tr bgcolor="skyblue" class="text-center">
                                <th scope="col">ID</th>
                                <th scope="col">DNI</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Dirección</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Género</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let apoderado of apoderados" class="text-center">
                                <td>{{apoderado.idapoderado}}</td>
                                <td>{{apoderado.dni}}</td>
                                <td>{{apoderado.nombre}}</td>
                                <td>{{apoderado.apellidos}}</td>
                                <td>{{apoderado.direccion}}</td>
                                <td>{{apoderado.telefono}}</td>
                                <td>{{apoderado.sexo}}</td>
                                <td>{{apoderado.estado}}</td>

                                <td>

                                    <a (click)="eliminar(apoderado)"
                                        style="margin-left: 10px; cursor: pointer;">
                                        <img style="width: 25px; height: 25;" src="./assets/img/delete.png">
                                    </a>
                                    <a (click)="obtenerApoderado(apoderado)" style="margin-left: 10px; cursor: pointer;"
                                        >
                                        <img style="width: 25px; height: 25; " src="./assets/img/editpaste.png">
                                    </a>
                                </td>

                            </tr>

                        </tbody>

                    </table>
                    <span style="font-size: 20px; color: red;" *ngIf="mensaje">{{mensaje}}</span>
                </div>

            </div>
        </div>
    </div>

</div>