<body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="people-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
          </symbol>
        </svg>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0)">I.E Simon Bolivar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a (click)="navegarInicio()" class="nav-link active" style=" cursor:pointer;"
                            aria-current="page">Inicio</a>
                    </li>
                    <li class="nav-item" *ngIf="!estadoAutenticacion()">
                        <a (click)="tramite()" class="nav-link active" style=" cursor:pointer;"
                            aria-current="page">Tramite
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="!estadoAutenticacion()">
                        <a (click)="irApoderado()" class="nav-link active" style="cursor:pointer;"
                            aria-current="page">Apoderado</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-rigth">
                    <li class="dropdown" *ngIf="!estadoAutenticacion()">
                        <button (click)="iniciarSesion()" class="btn btn-secondary" type="button"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Iniciar sesión
                        </button>

                    </li>
                    <li class="dropdown" *ngIf="estadoAutenticacion()">
                        <button (click)="cerrarSesion()" class="btn btn-outline-danger" type="button"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Cerrar sesión
                        </button>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="espacio">
        <router-outlet></router-outlet>
    </div>
</body>