<div class="container">
    <div class="card">
        <div class="card-header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-light">
                <div class="container-fluid" style="position: relative;">
               
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="float: left;">

                            <li class="nav-item">
                                <a class="nav-link active" style="margin-left: 5px;" aria-current="page">
                                    <h5 style="color: black; font-size: 20px;">
                                        Formulario para noticias a publicar
                                    </h5>
                                </a>

                            </li>

                        </ul>
                        <ul class="navbar-nav navbar-rigth" style="float: right;">
                            <li>
                                <svg class="bi me-2" width="30" height="30">
                                    <use xlink:href="#people-circle" />
                                  </svg>
                            </li>
                            <li class="mt-2" *ngIf="ususervicio.isAuthenticated()">
                                <h3 style="color: black;">
                                    {{ususervicio.usuario.empleado.nombre}}, {{ususervicio.usuario.empleado.apellidos}}
                                </h3>
                            </li>
                            
                            <li class="nav-item">
                                <a (click)="irAperfil()" class="btn btn-outline-success"
                                    style="margin-left: 5px; cursor:pointer;" aria-current="page">
                                    <h5 style="color: black; font-size: 15px;">
                                        Ir a Perfil
                                    </h5>
                                </a>
                            </li>
                            
                        </ul>

                    
                </div>
            </nav>
        </div>
        <app-noticias-archivo *ngIf="cronogramaSeleccionado"  [cronograma]="cronogramaSeleccionado" 
            [visible]="estadoModal" (cerrar)="estadoModal = $event">
        </app-noticias-archivo>

        <div class="card-body">
            <div class="row">

                <form [formGroup]="fcronograma" (ngSubmit)="save($event)">
                    <input type="hidden" formControlName="idcronograma">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="fecha">Fecha:</label>
                                <input type="date" formControlName="fecha" class="form-control">
                                <p *ngIf="fcronograma.get('fecha').hasError('required') && 
                                        fcronograma.get('fecha').touched ">
                                    Campo requerido
                                </p>
                            </div>
                            <div class="form-group mt-3">
                                <input *ngIf="estadoGuardar" type="submit" class="btn btn-primary form-control mt-2"
                                    value="Guardar">
                                <input *ngIf="estadoEditar" type="submit" class="btn btn-primary form-control mt-2"
                                    value="Editar">

                            </div>
                            <div class="form-group mt-3">
                                <button (click)="limpiar()" type="button"
                                    class="btn btn-danger form-control mt-2">Limpiar
                                </button>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="estado">Estado:</label>
                                <select formControlName="estado" class="form-control">
                                    <option value="Publicar">Publicar</option>
                                    <option value="No publicar">No publicar</option>
                                </select>
                            </div>
                            <p *ngIf="fcronograma.get('estado').hasError('required') && 
                                        fcronograma.get('estado').touched ">
                                Campo requerido
                            </p>
                            <div class="form-group">
                                <label for="link_video">Link video presentación:</label>
                                <textarea rows="2" formControlName="link_video" class="form-control"></textarea>
                            </div>
                            
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="descripcion">Descripción:</label>
                                <textarea rows="4" formControlName="descripcion" class="form-control"></textarea>
                            </div>
                        </div>

                    </div>
                </form>

            </div>

            <div class="row mt-3" style="overflow: scroll;">
                <table class="table tabla-striped">
                    <thead>
                        <tr>
                            <th scope="col" colspan="3">
                                <h4>Lista de Noticias</h4>
                            </th>
                            <th scope="col" colspan="2">
                                <input type="date" [formControl]="formBuscar" class="form-control">
                            </th>
                            <th scope="col" colspan="1">
                                <button (click)="buscar()" class="btn btn-success form-control">Buscar</button>
                            </th>

                        </tr>
                        <tr bgcolor="skyblue" class="text-center">
                            <th scope="col">DOC</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Link</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cronograma of cronogramas" class="text-center">
                            <td>
                                <img (click)="abrirModal(cronograma)" style="cursor: pointer; width: 30px; height: 30px;" src="./assets/img/ardefault.jpg">
                            </td>
                            <td>{{cronograma.fecha}}</td>
                            <td>{{cronograma.link_video}}</td>
                            <td>{{cronograma.descripcion}}</td>
                            <td>{{cronograma.estado}}</td>
                            <td>                               
                                <abbr title="Eliminar">
                                    <a (click)="eliminar(cronograma)" style="cursor: pointer; margin-left: 10px; max-width: 100%;">
                                        <img style="width: 20px; height: 20px;" src="./assets/img/delete.png">
                                    </a>
                                </abbr>
                                <abbr title="Editar">
                                    <a (click)="obtener(cronograma)" style="cursor: pointer; margin-left: 10px;max-width: 100%;">
                                        <img style="width: 20px; height: 20px; " src="./assets/img/editpaste.png">
                                    </a>
                                </abbr>                               
                                
                            </td>
                        </tr>

                    </tbody>

                </table>
                <p *ngIf="mensaje">
                    {{mensaje}}
                </p>
            </div>

        </div>
    </div>
</div>