<div class="container">
    <div class="card">
        <div class="card-header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-light">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a (click)="cambiarContra()" class="btn btn-outline-success" style="margin-left: 5px; cursor: pointer;" aria-current="page">
                                    <h5 style="color: black; font-size: 20px;">
                                        Cambiar contraseña
                                    </h5>
                                </a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" style="margin-left: 5px;" aria-current="page">
                                    <h5 style="color: black; font-size: 20px;">
                                        Resultados previos
                                    </h5>
                                </a>

                            </li>

                        </ul>
                        <ul class="navbar-nav navbar-rigth">
                            <li class="mt-2" *ngIf="usuapoderado.isAuthenticated()">
                                <h3 style="color: black;">
                                    {{usuapoderado.uapoderado.nombre}}, {{usuapoderado.uapoderado.apellidos}}
                                </h3>
                            </li>
                            
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>DNI o Nombre del estudiante:</label>
                        <input type="text" [formControl]="falumno" placeholder="Ingrese nombre o dni a buscar"
                            class="form-control">
                        <span *ngIf="mensajeAlumno">{{mensajeAlumno}}</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <button (click)="buscar()" type="button" class="form-control btn btn-success">Buscar</button>
                    </div>
                    <div class="form-group mt-3">
                        <button [disabled]="!estadoBusqueda" (click)="mostrarLibreta()" type="button"
                            class="form-control btn btn-primary">Mostrar libreta</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="form-control" [formControl]="fdetallealumno">
                            <option *ngFor="let detallealumn of detallealumns" [ngValue]="detallealumn">
                                {{detallealumn.alumno.nombre}},{{detallealumn.alumno.apellidos}} ----
                                {{detallealumn.grado.alias_grado}} --- {{detallealumn.seccion.nombre_seccion}}
                            </option>
                        </select>
                        <span *ngIf="mensajeDetalle">{{mensajeDetalle}}</span>
                    </div>
                </div>
            </div>

            <div class="row mt-3" style="margin-left: 1px; margin-right: 1px;">
                <table style="width: 100%;">
                    <tr class="text-center">
                        <th colspan="2">
                            <button [disabled]="!estadoDescarga" (click)="descargarLibreta()"
                                class="btn btn-success">Descargar</button>
                        </th>
                        <th colspan="17">
                            <p *ngIf="detallealumno?.periodo">LIBRETA DE NOTAS PERIODO -- {{detallealumno.periodo}} </p>
                        </th>
                    </tr>
                    <tr *ngIf="detallealumno" class="text-center">
                        <th colspan="2">
                            <p>ESTUDIANTE:</p>
                        </th>
                        <th colspan="6">
                            <p *ngIf="detallealumno?.alumno">
                                {{detallealumno.alumno.nombre}},{{detallealumno.alumno.apellidos}}</p>
                        </th>
                        <th colspan="3">
                            <p>GRADO:</p>
                        </th>
                        <th colspan="1">
                            <p *ngIf="detallealumno?.grado">{{detallealumno.grado.alias_grado}}</p>
                        </th>
                        <th colspan="3">
                            <p>SECCIÓN:</p>
                        </th>
                        <th colspan="1">
                            <p *ngIf="detallealumno?.seccion">{{detallealumno.seccion.nombre_seccion}}</p>
                        </th>
                        <th colspan="1">
                            <p></p>
                        </th>
                        <th colspan="2">
                            <p></p>
                        </th>
                    </tr>

                    <tr class="text-center">
                        <th width="15px" rowspan="3">
                            <p>N°</p>
                        </th>
                        <th rowspan="3">
                            <p>ÁREAS</p>
                        </th>
                        <th colspan="17">
                            <p>BIMESTRES</p>
                        </th>
                    </tr>

                    <tr class="text-center">
                        <th colspan="4">
                            <p>BIMESTRE I</p>
                        </th>
                        <th colspan="4">
                            <p>BIMESTRE II</p>
                        </th>
                        <th colspan="4">
                            <p>BIMESTRE III</p>
                        </th>
                        <th colspan="4">
                            <p>BIMESTRE IV</p>
                        </th>
                        <th width="20px" rowspan="2">
                            <p class="vertical-text">Nivel de Logro anual</p>
                        </th>
                    </tr>
                    <tr class="text-center">
                        <th>
                            <p>C1</p>
                        </th>
                        <th>
                            <p>C2</p>
                        </th>
                        <th>
                            <p>C3</p>
                        </th>
                        <th>
                            <p>C4</p>
                        </th>

                        <th>
                            <p>C1</p>
                        </th>
                        <th>
                            <p>C2</p>
                        </th>
                        <th>
                            <p>C3</p>
                        </th>
                        <th>
                            <p>C4</p>
                        </th>

                        <th>
                            <p>C1</p>
                        </th>
                        <th>
                            <p>C2</p>
                        </th>
                        <th>
                            <p>C3</p>
                        </th>
                        <th>
                            <p>C4</p>
                        </th>

                        <th>
                            <p>C1</p>
                        </th>
                        <th>
                            <p>C2</p>
                        </th>
                        <th>
                            <p>C3</p>
                        </th>
                        <th>
                            <p>C4</p>
                        </th>

                    </tr>

                    <tr *ngFor="let libreta of libretas">

                        <td style="width: 13px;">
                            <p>{{libreta.indice}}</p>
                        </td>

                        <td style="width: 300px;">
                            <p>{{libreta.nombre_curso}}</p>
                        </td>

                        <td style="width: 13px;">
                            <p>{{libreta.alias_competencia_I_bim_I}}</p>
                        </td>
                        <td style="width: 13px;">
                            <p>{{libreta.alias_competencia_II_bim_I}}</p>
                        </td>
                        <td style="width: 13px;">
                            <p>{{libreta.alias_competencia_III_bim_I}}</p>
                        </td>
                        <td style="width: 13px;">
                            <p>{{libreta.alias_competencia_IV_bim_I}}</p>
                        </td>

                        <td style="width: 13px;">
                            <p>{{libreta.alias_competencia_I_bim_II}}</p>
                        </td>
                        <td style="width: 13px;">
                            <p>{{libreta.alias_competencia_II_bim_II}}</p>
                        </td>
                        <td style="width: 13px;">
                            <p>{{libreta.alias_competencia_III_bim_II}}</p>
                        </td>
                        <td style="width: 13px;">
                            <p>{{libreta.alias_competencia_IV_bim_II}}</p>
                        </td>

                        <td style="width: 13px;">
                            <p>{{libreta.alias_competencia_I_bim_III}}</p>
                        </td>
                        <td style="width: 13px;">
                            <p>{{libreta.alias_competencia_II_bim_III}}</p>
                        </td>
                        <td style="width: 13px;">
                            <p>{{libreta.alias_competencia_III_bim_III}}</p>
                        </td>
                        <td style="width: 13px;">
                            <p>{{libreta.alias_competencia_IV_bim_III}}</p>
                        </td>

                        <td style="width: 13px;">
                            <p>{{libreta.alias_competencia_I_bim_IV}}</p>
                        </td>
                        <td style="width: 13px;">
                            <p>{{libreta.alias_competencia_II_bim_IV}}</p>
                        </td>
                        <td style="width: 13px;">
                            <p>{{libreta.alias_competencia_III_bim_IV}}</p>
                        </td>
                        <td style="width: 13px;">
                            <p>{{libreta.alias_competencia_IV_bim_IV}}</p>
                        </td>
                        <td style="width: 13px;">
                            <p>{{libreta.logroanual}}</p>
                        </td>

                    </tr>

                </table>

                <span *ngIf="mensajeTabla">{{mensajeTabla}}</span>

            </div>
            <hr>
            <div class="row mt-2">

                <h5 style="font-size: 20px;">Lista de asistencias</h5>
            </div>
            <hr>
            <div class="row mt-2 " *ngFor="let mcurso of mcursos">
                <ul class="list-group text-dark">
                    <div class="row">
                        <div class="col-sm">
                            <li class="list-group-item active">
                                Código: -- {{mcurso.codigo}}
                            </li>
                        </div>
                        <div class="col-sm">
                            <li class="list-group-item active">
                                Curso: -- {{mcurso.nombre}}
                            </li>
                        </div>
                    </div>

                </ul>
                <div class="col-sm" *ngFor="let asistencia of mcurso.asistencias">
                    <table class="table">
                        <tr>
                            <th>BIMESTRE</th>
                            <td>{{asistencia.bimestre}}</td>
                        </tr>
                        <tr>
                            <th>FI</th>
                            <td>{{asistencia.fi}}</td>
                        </tr>
                        <tr>
                            <th>FJ</th>
                            <td>{{asistencia.fj}}</td>
                        </tr>
                        <tr>
                            <th>TI</th>
                            <td>{{asistencia.ti}}</td>
                        </tr>
                        <tr>
                            <th>TJ</th>
                            <td>{{asistencia.tj}}</td>
                        </tr>
                        <tr>
                            <th>A</th>
                            <td>{{asistencia.asis}}</td>
                        </tr>
                        <tr>
                            <th>TOTAL</th>
                            <td>{{asistencia.total}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <span></span>
        </div>

    </div>


</div>